body{
  background-color: rgb(231, 219, 219);
}
.chatbox{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color:rgb(171, 69, 69)
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 10px;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:background-color 0.5s ease;
  width: 250px;
  height: 100px;
  float: center;
}
.submit-button {
  background-color: rgb(145, 29, 29);
}
.submit-button:hover {
  background-color:rgb(45, 180, 74);
}

.text{
  flex: 1;
}
.submit-button{
  padding: 8px 12px;
  font-size: 1.4rem;
}